<!DOCTYPE html>
<html>
<h1>Welcome to Entry Management System V1.</h1>
<h3>What would you like to do?</h3>
<ul>
    <li><a href="/meeting/create">Create a new meeting.</a></li>
    <li><a href="/meeting/checkout">Checkout from a meeting.</a></li>
    <li><a href="/helper">Check the mail.</a></li>
</ul>

</html>